{% extends "layouts/main.html" %}

{% block beforeContent %}
  {{ govukBackLink({
    text: "Back",
    href: "javascript: window.history.go(-1)"   
  }) }}
{% endblock %}

{% block content %}
  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">


      <form class="form" action="/dwp-alternative-formats-plugin/v2/journey-1/email-reasonable-adjustment-letter" method="post" novalidate>
        
       
        
        {{ govukInput({
          label: {
            text: "What is your email address?",
            isPageHeading: true,
            classes: "govuk-label--l"
          },
          hint: {
            text: "For example, name@example.com."  
         },
          id: "email-reasonable-adjustment",
          name: "[altFormatsV2Journey1].[letter].[emailReasonableAdjustment]",
          value: data["altFormatsV2Journey1"]["letter"]["emailReasonableAdjustment"],
          type: "email",
          autocomplete: "email",
          spellcheck: false
        }) }}
        
        {{ govukButton({
          text: "Continue"
        }) }}

      </form>
    </div>
  </div>
{% endblock %}


