{% extends "layouts/main.html" %}

{% block content %}
  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">
      <h1 class="govuk-heading-xl">
        Alternative formats
      </h1>

      <h2 class="govuk-heading-m">
        What are we doing here?
      </h2>
      <p>
        Prototyping user journey for alternative formats and the associated content design
      </p>
      <h2 class="govuk-heading-m">
        Why are we doing it?
      </h2>
      <ul class="govuk-list govuk-list--bullet govuk-!-margin-bottom-8">
        <li>To protoype our thinking so far and test the experience</li>
        <li>Have something to show the working group</li>
        <li>Basis for the prototype to go into the DWP Design System guidance</li>
      </ul>

      <h2 class="govuk-heading-m">
        Version 2
      </h2>
      <p>Aligning pattern to the proposed SRA component with formats list provided by the Customer preferences team and replacing the request for other formats into the form of a feedback/survey question for data collection.</p>
      <ul class="govuk-list govuk-list--bullet govuk-!-margin-bottom-8">
        <li><a href="/dwp-alternative-formats-plugin/v2/journey-1/index" class="govuk-link">Journey 1</a></li>
      </ul>
      <p>Journey that is aligned with SRA component</p>

       
    </div>
  </div>
{% endblock %}